/* 
 * プラグイン:https://github.com/tokuhirom/obsidian-2hop-links-plugin 
 * 参考:https://notes.yurudream.com/00+Apps%2Cservice/Obsidian/Ob-plugin+2hop+link
 */

/* .twohop-links-container {
  opacity: 0.1;
  transition: all 0.2s ease;
}

.twohop-links-container:hover {
  opacity: 1;
} */

.twohop-links-container > div {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 50px;
	padding: 2px;
}

.twohop-links-section {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

/* each block */
.twohop-links-box {
	box-sizing: border-box;
	width: 135px !important;
	height: 135px !important;

	padding: 5px !important;

	margin: 0px !important;
	color: var(--text-normal) !important;
	border-radius: 0px !important;
	cursor: pointer;
	background-color: var(--background-primary) !important;
	/* border: none !important; */
	border: 2px solid var(--background-secondary) !important;
}

.twohop-links-section:after {
	display: none !important;
}

.twohop-links-box:hover {
	text-decoration: underline;
}

.twohop-links-box-preview {
	color: var(--text-normal) !important;
	font-size: 0.8em;
}

.twohop-links-box-title {
	font-weight: bold;
}

.twohop-links-new-links-header,
.twohop-links-twohop-header,
.twohop-links-connected-links-header,
.twohop-links-tag-header {
	font-size: 0.8em;
	font-weight: bold;
}

/* 
.twohop-links-connected-links-header,
.twohop-links-twohop-header,
.twohop-links-tag-header,
.twohop-links-new-links-header {
  width: 100% !important;
  height: auto !important;
} */

.twohop-links-connected-links-header {
	cursor: default;
	text-decoration: none !important;
}

.twohop-links-box-preview {
	color: var(--text-muted) !important;
}

/* Header Color */
/* connected links */
.twohop-links-connected-links-header {
	background-color: var(--interactive-accent) !important;
}

/* two hop links */
.twohop-links-twohop-header {
	color: var(--text-normal) !important;
	background-color: var(--background-modifier-border) !important;
}

/* new links */
.twohop-links-new-links-header {
	background-color: var(--interactive-accent) !important;
}

/* tags */
.twohop-links-tag-header {
	clear: both;
	background-color: #ffd8d191 !important;
}
